extends ./base.jade
block append body


  .hero-content
    - var name = info.username
    div(id = name).container: canvas#host(width="300px", height="300px", data-name= name)

    #viewing.tile.is-ancestor
      h3.title.is-3(id='waiting', style={'user-select': 'none', '-webkit-user-select': 'none'}) Waiting for opponents

  block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/assets/game.js")
