html(lang="en")
  head
    meta(charset="utf-8")
    title Hampson Final
    script(src="/assets/grindstone-v1.2.5.min.js")
    link(rel="shortcut icon", href="/assets/img/favicon.png")
    block style
      link(rel="stylesheet", type="text/css", href="/assets/style.css")
  block body
  block errMsg
    #errDiv
      h3#errorMsg Error messages go here.
  block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js")
