extends ./base.jade
block append body
  block nav
    a(href="/game") to game
    a(href="/leaders") to Leaderboard
  h1 Welcome ${docs.name}
  #info
    h3 Your record: ${docs.wins} : ${docs.loses}
block scripts
