extends ./base.jade
block append body
  .hero-header: include ./navBar.jade

  .hero-content
    .container
      h1.title.is-2 Welcome #{info.username}
      #info
        h3.subtitle.is-4 Your record(W/L): #{info.wins} / #{info.loses}

  block scripts
