nav.navbar

  .navbar-item.has-text-centered
    p.title.is-3: a(href="/lounge") Lounge
  .navbar-item.has-text-centered
    p.title.is-3: a(href= "/game") Play
  .navbar-item.has-text-centered
    p.title.is-3: a(href="/leaders") Leaders
